@import url('https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&family=Dancing+Script:wght@600&display=swap');

body {
    font-family: 'Coda Caption', sans-serif;
    font-family: 'Dancing Script', cursive;
    min-height: 100vh;

    .section-text{
        font-family: monospace;
    }

    a:hover {
        text-decoration: underline;
    }

    main {
        section {
            article:hover {
                transform: scale(1.05);
            }
        }
    }

    footer {
        position: absolute;
        bottom: 0;
        i:hover {
            color: rgba(150,150,150,1);
        }
    }
}
